Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
SQLAlchemy==2.0.31
Alembic==1.13.2
Pillow==10.4.0
opencv-python-headless==4.10.0.84
Watchdog==4.0.1
python-dotenv==1.0.1
loguru==0.7.2
pytest==8.2.2
black==24.4.2
isort==5.13.2
flake8==7.1.0
mypy==1.10.1

